body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif;
color: #008CBA}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}

table{
    background-color: #008CBA;
    color: white;
    border: 1px solid white;
    font-family: "Poppins", sans-serif
}

body{
    background-color: #008CBA
}

/*.miClase{
    background-color: #008CBA
}*/